/********************** GENERIC *******************/
*,
*::before,
*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.my_bg_color_softblue { background-color: rgb(31, 31, 216)}

body { font-family: 'Roboto', sans-serif; }

.my_navbar_height { height: 100%}

.my_height_img_logo_mobile { height: 2.5rem}

a:focus {
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

a:visited {
    color: inherit;
}

a:active {
    outline: none;
}

ul {
  list-style-type: none;
  
}

.my_container_content {
    height: calc(100% - 3.5625rem);
}

.my_container_content nav { width: 9.375rem;}

.my_sidebar { 
    width: 9.375rem;
    background-image: url(../img/sidebar-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


